<div class="form-view">
  <app-card>

      <h2>Submit new emails:</h2>
      <form action="" [formGroup]="form">
        <mat-form-field class="chip-list">
          <mat-label>Enter emails:...</mat-label>
          <mat-chip-list #chipGrid formControlName="emailsField" >
            <mat-chip
              *ngFor="let email of emailChips"
              (removed)="remove(email)"
              [ngClass]="getEmailChipColor(email)"
            >
              {{ email }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              #input
              type="email"
              matInput
              placeholder="Enter emails..."
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-chip-list>
        </mat-form-field>
      </form>

    <app-button
      label="submit"
      [disabled]="emailChips.length === 0"
      (customSubmit)="handleSubmitClick()"
    ></app-button>
  </app-card>

  <app-card *ngIf="existingEmailsForDisplay | async as emails">
    <h2>User emails:</h2>
    <div *ngIf="emails.length">
      <app-chip-list-static [emails]="emails"></app-chip-list-static>
    </div>
  </app-card>
</div>
