<div class="dialog">
  <h1 mat-dialog-title>Duplicated emails detected!</h1>
  <mat-divider></mat-divider>
  <mat-dialog-content class="dialog__content">
    <form action="" [formGroup]="form">
      <div *ngIf="duplicateEmails$ | async as emails">
        <div *ngIf="emails.length">
          <h3>
            The following {{ emails.length }} emails are duplicated in your
            list.
          </h3>
          <app-input [disabled]="chipInputConfig.isDisabled">
            <app-chip-list-static [emails]="emails" color="yellowChip"></app-chip-list-static
          ></app-input>
        </div>
      </div>

      <div *ngIf="existingEmails$ | async as emails">
        <div *ngIf="emails.length">
          <h3>
            The following {{ emails.length }} emails already exist in the
            system.
          </h3>
          <app-input [disabled]="chipInputConfig.isDisabled">
            <app-chip-list-static [emails]="emails" color="yellowChip"></app-chip-list-static
          ></app-input>
        </div>
      </div>

      <app-card class="notification">
        <mat-card-content>
          <mat-icon
            aria-hidden="false"
            aria-label="Info icon"
            fontIcon="info"
            >info</mat-icon
          >
          <p>
            If an email appears in a project more than once, the user will be
            given additional test attempts.
          </p></mat-card-content
        >
      </app-card>
      <mat-divider></mat-divider>
      <div>
        <h3>How would you like to proceed?</h3>

        <mat-checkbox formControlName="saveAllCheckbox"
          >Save all (duplicated and existing)</mat-checkbox
        >
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <app-button
      label="cancel"
      class="cancel-btn"
      color="accent"
      appCloseDialog
      (customSubmit)="closeDialog()"
    ></app-button>
    <app-button
      label="{{ checkboxState.value ? 'Save all emails' : 'Save only unique' }}"
      (customSubmit)="handleSubmit()"
    ></app-button>
  </mat-dialog-actions>
</div>
